# Git
.git/

# Python
.venv*/
.env/
.pytest_cache/
__pycache__/
*.py[cod]
*.pyc
.tox/
*.egg-info/
.mypy_cache/
.ruff_cache/
.hypothesis/

# Direnv
.env
.envrc

# Node.js
node_modules/

# Visual Studio Code
.vscode/

# Pycharm
.idea/

# Mac OS
.DS_Store
.DS_Store?
*.swp
/Applications/
/Documents/
/Library/
/Movies/
/Public/

# Windows OS
Thumbs.db

# SQLite databases
*.db
*.sqlite

# Rust
target/

# This file assumes that it is at the user's home directory
/.android/
/.angular-config.json
/.atom/
/.audacity-data/
/.babel.json
/.bash_history
/.boto
/.cache/
/.cargo/
/.cmake
/.cookiecutter*
/.dbeaver-drivers/
/.dbeaver4/
/.dbus/
/.deno/
/.designer/
/.docker/
/.dropbox-dist/
/.dropbox/
/.eclipse/
/.electron-gyp/
/.electron/
/.esd_auth
/.fontconfig/
/.gem/
/.ghc/
/.gimp*/
/.gitkraken/
/.glide/
/.gnome/
/.gnupg/
/.helm/
/.history
/.ICEauthority
/.ipython/
/.java/
/.jupyter/
/.kube/
/.lesshst
/.lldb/
/.local/
/.minikube/
/.mono/
/.mozilla/
/.multirust
/.mume/
/.node_repl_history
/.node-gyp/
/.npm/
/.npmrc
/.octave_hist
/.openshot_qt/
/.p7zip
/.pki/
/.profile
/.psql_history
/.PyCharm*/
/.pylint.d/
/.python_history
/.quokka/
/.rustup/
/.sqlite_history
/.ssh/
/.swt/
/.task/
/.taskrc
/.terraform.d/
/.thumbnails/
/.tmux_history
/.tox/
/.vagrant.d/
/.vim/
/.viminfo
/.virtualenvs
/.vscode-insiders/
/.vscode-oss/
/.vscode/
/.VSCodeVim/
/.vuerc
/.wweconfig.json
/.yarnrc
/.yo-rc-global.json
/calibre-library/
/Desktop/
/Downloads/
/Dropbox/
/dwhelper/
/ebooks/
/go/
/Music/
/Pictures/
/projects/
/Screenshot*
/Templates/
/Videos/
/VirtualBox VMs/

/*.jpg
/*.flv
*.pyc
