[user]
  email = david.torralba.goitia@gmail.com
  name = David Torralba Goitia

[alias]
  ch = checkout
  br = branch
  co = commit
  st = status
  ps = push
  pl = pull
  lg = log --oneline --graph --decorate --all
  unstage = reset HEAD --
  dtgoitia = "!f() { reponame=$1; git clone git@github.com:dtgoitia/${reponame}.git; }; f"

[core]
  editor = vim
  ignorecase = false
  excludesFile = /Users/david.torralba/.gitignore

[diff]
  tool = meld

[clean]
	requireForce = false

[pull]
	ff = only  # fast-forward only
