/.config/
/.cache/
/.dropbox-dist/
/.dropbox/
/.electron/
/.gimp*/
/.gem/
/.gnome/
/.java/
/.jupyter/
/.lldb/
/.mono/
/.mozilla/
/.multirust
/.node-gyp/
/.node_repl_history
/.npm/
/.quokka/
/.profile
/.ssh/
/.task/
/.thumbnails/
/.tox/
/.vim/
/.viminfo
/.virtualenvs
/.vscode/
/calibre-library/
/Desktop/
/Downloads/
/Dropbox/
/ebooks/
/go/
/projects/
/Pictures/
