/.audacity-data/
/.atom/
/.bash_history
/.config/
/.cargo/
/.cache/
/.dbeaver-drivers/
/.dbeaver4/
/.dbus/
/.designer/
/.dropbox-dist/
/.dropbox/
/.eclipse/
/.electron/
/.esd_auth
/.gem/
/.gimp*/
/.gitkraken/
/.gnome/
/.gnupg/
/.ICEauthority
/.ipython/
/.java/
/.jupyter/
/.local/
/.lesshst
/.lldb/
/.mono/
/.mozilla/
/.multirust
/.mume/
/.node-gyp/
/.node_repl_history
/.npm/
/.octave_hist
/.quokka/
/.pki/
/.profile
/.PyCharm*/
/.python_history
/.pylint.d/	
/.rustup/
/.ssh/
/.task/
/.taskrc
/.thumbnails/
/.tmux_history
/.tox/
/.vim/
/.viminfo
/.virtualenvs
/.vscode/
/.VSCodeVim/
/.wweconfig.json
/.yarnrc
/.yo-rc-global.json
/calibre-library/
/Desktop/
/Downloads/
/Dropbox/
/ebooks/
/go/
/projects/
/Pictures/
/Templates/
/Videos/
